.single-post-page {
  padding: 100px;

  background-color: rgba(0, 0, 0, 0.84);

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: rgb(180, 180, 180);
  }
  &__heading {
    color: #fff !important;
    margin-bottom: 10px;
  }
  &__img {
    margin-bottom: 20px;
  }
}
